language: node_js

node_js:
- '8'
- '9'
- '10'

sudo: false

branches:
  only:
  - master
  - "/^greenkeeper/.*$/"

env:
  global:
  - secure: gOZweUKqGhWBzbsvMW3uvfgh0LV0AddcqvyBu16ycswDq25mWyq7celRsPPIC7H0v5k3tIByUQeVPyCQyDkL597oOm8xNeznt7yY/XqAg2VAZAQLv04B2/0hAkXCxQy8hI+3/5HZYrt9HfUqaQwjuCEK7ANcBbK5VuTli8pAKFkhsbOR+2dnjIVLzY8p13TmJfPgU1kvx6whh0pnGTAXxHEGAAnRFFLenop9kktL+AoFBHgxeDBu/+mj305umU9xiKToOxJXEV6iGcO9SlFGdIY5GMVWgt5dcaHB674vHNrYJ8h02EcPKVq9OAD45WC1L2nCX26yrpYJNvyuGw5CAx2lWk7TfuXZqHtuQSqROj9HntflBUlIZUH9xWHCVaBEwY899cWS5u8CIaF01Ho6mCW9axEvsPlXfiTXsOD3MDAiN/An54vHOqp7hutfpUW2q0JoO7CZ7uH8TPPnTAtwckPvIoenDbgH9r615xvhEF6lEmjy0SkVn9T+Cwxd5BNe19iVp9MDI4VdmAqLdVn4370VqeVBmeP97efrVg5H26vkaInk2T7DJQd4UJH1c2IU5xrr5YNQxxJ1Onj96DQLCcut4J8ERiMhwRtJhh1puC6mpq4ZSryZMskEaQrRjb+oBP6ByhMvuE1IIgOsh3v4MuOgPu6eN6EWh00LfWWWoyI=
  - secure: qkyGAKLJtV4WFWZgF0KmBq3mJNGtQBOkY94ewTThZu0j+LWM1WbB/KjzsbZ6n58MZ8Bokdb+EHxk0DrY5pFcII+YM8HgEPjEnijFZSF/FSs4MA9xpo7Ds5QjGcj3nQSCirGHbHAW+roB4Sn4EYYt24yfudElNOgSyI/DPz2qz+8WEyuPVsRuGy6EdFtqpojh2pbfitKw0qDNohqWN3UqAW8o2Z7oVYAS3ITkD2pKfR8p9b4OQmocRZuYSj5XYii99/a60Ie7PTTgmSDfFxK/0N3suPj57daTEYRDKFCwv6nfPdYe/CkFSb4xySKEwYOZhQA0ZkkYFARJWnRTlrk9SuCAzulVzfBxOG0bieNc/QAriipyKxAn56LSXQjD5KK1CRJ0mzZjlHaVO851g3PzJQI3aCfjjDsjYJgAtPhoAsbV7g4q3JsySjdox7b1VGEOnNX+FSXEgV2SwobYrFpWhavybcbKhdI+AeLE6Pw/MZLO5mCT4BzW1TWvQeW9M8oQ/xr83Bu2UeSjCm7iYP5sNXllZn5ISdKk0LpHXrhA8LqbvFznr47GZsxVFgCEW72ic4+4N6FILRrEJeZmChr7EarjcNPgnS9Xs59QDMYkR+hmR3D8oFqe4bVTcTCELRgXQej1z2fP+1Wjocfqbp//AWPk5rnDnzD82HDNHXsBsBc=

script:
- yarn test

after_success:
- "$(yarn bin)/nyc report --reporter=text-lcov | $(yarn bin)/coveralls"
- bash <(curl -s https://codecov.io/bash)
